<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">
    <property name="logTextPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{0}[%L] - %msg%n"/>
    <property name="logFileBase" value="${logback.logbasepath}"/>
    <property name="logFileName" value="nian-backup"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${logTextPattern}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${logTextPattern}</pattern>
        </encoder>
        <file>${logFileBase}/${logFileName}.log</file>
        <!-- 按照每天生成日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logFileBase}/${logFileName}.%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
    </appender>

    <appender name="DMBLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logFileBase}/${dmbLogFile}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logFileBase}/${dmbLogFile}.%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${logTextPattern}</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="info"/>
    <logger name="java.sql" level="info"/>
    <logger name="freemarker.template" level="warn"/>
    <root level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE"/>
    </root>
</configuration>